#container {
  display: grid;
  min-width: 100%;
  min-height: 100%;
  opacity: .93;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 7px;
  }
.grid-item {
  position: relative;
  overflow: hidden;
}
.grid-item img {
  width: 100%;
  height: 100%;
  position: initial;
}

.button-container {
  text-align: center;
  width: 100%;
}

.botonNav {
  display: inline-block;
  padding: 10px 20px;
  background-color: none;
  color: white;
  opacity: .70;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  }
 @media (max-width: 800px) {
    #container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      .grid-item:last-child { display: none; }
    }
  }
   @media (min-width: 1000px) {
    #container{
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      .grid-item:last-child { display: none; }
    }
  }
    @media (max-width: 325px) {
    #container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
      .grid-item:last-child { display: none; }
    }
  }