/* Establece la propiedad box-sizing en todos los elementos */
* {
    box-sizing: border-box;
}

#videoFondo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
  

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin:10;
    padding: 0;
    background-color: black;
    /*overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}


.menu {
    display: inline-flex;
    flex-wrap: nowrap;
    background-color: rgba(98, 72, 72, 0);
    list-style: none;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    grid-gap: 10px; /* Espacio entre elementos de la cuadrícula */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 2px;
    font-size: 25px;
    
    
}



h1 {
    color: blue;
    -webkit-text-stroke: 1px brown;
    font-size: 36px; /* Aumenta el tamaño del título para pantallas más grandes */
}

h2 {
    color: blue;
    font-size: 24px;
}

.buscador {
    font-size: 30px;
    color: aqua;
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px; /* Reduce el tamaño del título para pantallas más pequeñas */
    }
    h2 {
        font-size: 18px;
    }
}
