
* {
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    flex-grow: 1;
    position: relative; 
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin:10;
    padding: 0;
    background-color: black;
    /*overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}


section{
    display: flex;
    width: 600px;
    height: 430px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .1s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

#videoFondo {
    flex-grow: 1;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    width: 100%;
    height: auto; /* Ajusta el alto automáticamente según el ancho */
   
}

h1 {
    flex-grow: 1;
    color: rgba(150, 140, 64, 0.633);
    -webkit-text-stroke: 1px brown;
    font-size: 55px; /* Aumenta el tamaño del título para pantallas más grandes */
}

h2 {
    flex-grow: 1;
    color: rgba(236, 242, 240, 0.582);
    font-size: 20px;
}

.menu {
    display: inline-flex;
    flex-grow: 1;
    background-color: rgba(98, 72, 72, 0);
    list-style: none;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    grid-gap: 10px; /* Espacio entre elementos de la cuadrícula */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 2px;
    font-size: 25px;
    
    
}


.buscador {
    font-size: 30px;
    color: aqua;
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px; /* Reduce el tamaño del título para pantallas más pequeñas */
    }
    h2 {
        font-size: 16px;
    }

    /* Estilo para el contenedor principal del buscador */
 .google-search {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 55px;
    display: flex;
    align-items: center;
  }

 /* Estilo para el campo de búsqueda */
 #buscar {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 16px;
  }

  /* Estilo para el botón de búsqueda */
 button {
    background-color: #60b0a896;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
 }

 /* Cambiar el estilo del cursor cuando se pasa sobre el botón */
 button:hover {
    background-color: #357ae8;
 }

 /* Estilo para el ícono de búsqueda (puedes usar Font Awesome u otro recurso) */
 .fa-search {
    font-size: 18px;
 }

}
